<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Spirate Browse</title>
</head>
<body class="bg-fixed bg-gradient-to-br from-gray-900 via-zinc-800 to-stone-700">
    <header class="fixed w-screen bg-stone-900 h-fit py-3 px-3 shadow-lg rounded-b">
        {% include 'header.html' %}
    </header>
    <br><br><br>
    <span class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-7 gap-4 py-2 px-5">
        {% for episode in episodes %}
        <span class="text-white rounded hover:bg-stone-800 duration-500 h-fit">
            <a href='{{episode["redirect"]}}' class="cursor-pointer">
                <div class="hover:border-white hover:border-2 border-0 rounded-lg border-stone-800 duration-200">
                    {% if episode["title"] == "last watching" %}
                    <img loading="lazy" src='{{episode["image"]}}' class="rounded-lg stretch border-red-700 border-4 border-solid">
                    <div class="py-2 px-2">
                        <h1><small class="font-md">{{episode["airdate"]}}</small><small class="float-right text-gray-400 ml-2">{{episode["length"]}}</small></h1>
                        <h1 class="font-black">{{episode["title"]}}</h1>
                    </div>
                    {% else %}
                    <img loading="lazy" src='{{episode["image"]}}' class="rounded-lg stretch" width="100%">
                    <div class="py-2 px-2">
                        <h1><small class="font-md">{{episode["airdate"]}}</small><small class="float-right text-gray-400 ml-2">{{episode["length"]}}</small></h1>
                        <h1 class="font-md">{{episode["title"]}}</h1>
                    </div>
                    {% endif %}
                </div>
            </a>
        </span>
        {% endfor %}
    </span>
</body>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>
