<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Spirate</title>
</head>
<body class="bg-gradient-to-br from-yellow-900 via-orange-800 to-pink-700">
    <header class="fixed w-screen bg-stone-900 h-fit py-3 px-3 shadow-lg rounded-b">
        {% include 'header.html' %}
    </header>
    <div class="flex items-center justify-center h-screen">
        <div class="bg-stone-900 text-yellow-500 font-bold rounded-lg shadow-lg w-96 text-center h-fit px-5 py-5">
            <h1 class="mb-5 text-5xl">Spirate</h1>
            <hr class="bg-yellow-700 border-none h-1 rounded mb-3 mt-3">
            <h1 class="mb-5 text-3xl font-thin text-white">Spirate is the #1 free TV webapp.</h1>
            <h1 class="mb-5 text-1xl font-thin text-white">Want to get started? <a href="/register" class="text-orange-200">Create an account</a> or <a href="login" class="text-orange-200">Sign in</a></h1>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>