<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Spirate Player</title>
</head>
<body class="bg-zinc-900">
    <header class="w-screen bg-stone-900 h-fit py-3 px-3 shadow-lg rounded-b" id="header" style="z-index: 10000000000000000000000000000000000000000 !important;">
        {% include 'header.html' %}
    </header>
    <div class="mx-auto">
        <div> 
            <video-js poster="{{episodes['image']}}" id="episode" controls preload="auto" seekable="true" data-setup="{}" class="video-js vjs-big-play-button vjs-big-play-centered mx-auto aspect-video h-screen" style="width: 100%;">
                <source src="{{episodes['video']}}" type="video/mp4" />
            </video-js>
            <div class="custom-video-buttons" id="customButtons">
                <button class="custom-video-button" id="skipIntro" onclick="skipIntro()" aria-live="off" aria-atomic="true" class="custom-video-buttons" style="display: flex; flex: auto;">Skip Intro</button>
                <button class="custom-video-button" id="nextEpisode" onclick="nextEp()" aria-live="off" aria-atomic="true" class="custom-video-buttons" style="display: flex; flex: auto;">Next Episode</button>
            </div>
            <div class="custom-video-text" id="customText">
                <h1 class="custom-video-text" aria-live="off" aria-atomic="true" id="episodeTitle">{{episodes['title']}}</h1>
            </div>
            
        </div>
    </div>
    <br><br>
    <div>
        <h1 class="text-white p-5 text-4xl">After this episode: </h1>
        <span class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-7 gap-4 py-2 px-5">
            {% for episode in inSeason %}
            <span class="text-white rounded hover:bg-stone-800 duration-500 h-fit">
                <a href='{{episode["redirect"]}}' class="cursor-pointer">
                    <div>
                        <img loading="lazy" src='{{episode["image"]}}' class="rounded-lg stretch" width="100%">
                        <div class="py-2 px-2">
                            <h1><small class="font-md">{{episode["airdate"]}}</small><small class="float-right text-gray-400 ml-2">{{episode["length"]}}</small></h1>
                            <h1 class="font-md">{{episode["title"]}}</h1>
                        </div>
                    </div>
                </a>
            </span>
            {% endfor %}
        </span>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
</html>

<script>
document.getElementById('episode_html5_api').addEventListener('ended',nextEp,false);
function nextEp(e) {
    window.location.href = "https://sbirate.repl.co{{nextep}}"
}
</script>
<script>
function skipIntro() {
    var myPlayer = videojs('episode');
    myPlayer.currentTime(50)
    $("#skipIntro").css("display", "none")
    $('.vjs-fullscreen-control').click();
}

$.getJSON("/api/player/get-spot", function(data) {
    if(data["episode"] == "{{episode}}" && data["season"] == "{{season}}") {
        var vid = document.getElementById("episode_html5_api");
        vid.currentTime = data["seconds"]
    }
});

var toggle = 0
    
function checkIntro() {
    var myPlayer = videojs('episode');
    var vid = document.getElementById("episode_html5_api");
    if(vid.currentTime < 50) {
        $("#skipIntro").css("display", "flex")
    }else{
        $("#skipIntro").css("display", "none")
    }

    if(vid.duration-vid.currentTime < 50) {
        $("#nextEpisode").css("display", "flex")
    }else{
        $("#nextEpisode").css("display", "none")
    }
    if($('#customButtons','#episode').length != 1) {
        $("#customButtons").appendTo("#episode");
    }
    if($('#customText','#episode').length != 1) {
        $("#customText").appendTo("#episode");
    }

    if($("#episode").hasClass("vjs-user-active") || $("#episode").hasClass("vjs-paused")){
        if(toggle==0){
            $('#customText').animate({opacity:1},200);
            toggle = 1
        }
    }else if(toggle == 1){
        $('#customText').animate({opacity:0},500);
        toggle = 0
    }
}

var scrollTop = window.scrollY;
function checkScroll() {
    scrollTop = window.scrollY;
    if(scrollTop < 50){
        $("#header").css("display", "none")
    }else{
        $("#header").css("display", "block")
        $("#header").css("position", "fixed")
    }
}

var saveSpotNum = 0
function saveSpot() {
    var vid = document.getElementById("episode_html5_api");
    if(saveSpotNum%500 === 0){
        $.ajax({
            url:"/api/player/save-spot",
            type:"POST",
    
            data:{
                seconds: Math.round(vid.currentTime),
                season: "{{season}}",
                episode: "{{episode}}"
            },headers: {
                'X-CSRFtoken': "{{csrf_token()}}"
            }
        });
    }
    saveSpotNum += 1
}
    
function doIntervals() {
    checkIntro() 
    checkScroll()
    saveSpot()
}

window.setInterval(doIntervals, 10)

</script>
